.live-like {
    position: fixed;
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    color: white;
    background-color: #eee;
    right: 0.5rem;
    bottom: 1rem;
    border-radius: 50%;
    line-height: 2.4rem;
}

.live-like.on {
    background-color: #3595e7;
}

.live-like i {
    font-size: 2.4rem;
}

.live-like span {
    position: absolute;
    height: 0.8rem;
    line-height: 0.8rem;
    color: white;
    background-color: #e30a20;
    border-radius: 0.4rem;
    top: -0.1rem;
    right: 0;
    font-size: 0.45rem;
    min-width: 0.8rem;
    padding: 0 0.1rem;
}

.live-pub {
    position: fixed;
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
    line-height: 2.8rem;
    color: white;
    right: 0.5rem;
    bottom: 1rem;
    border-radius: 50%;
    line-height: 2.4rem;
    background-color: #3595e7;
}

.live-pub i {
    font-size: 1.4rem;
}
