.live-tab {
    margin-top: 1rem;
}

.live-tab-button {
    width: 16rem;
    height: 1.6rem;
    position: relative;
}

.live-tab-placeholder {
    height: 1.6rem;
}

.live-tab-holder {
    padding: 0 0.5rem;
    font-size: 0;
    text-align: center;
    width: 16rem;
    height: 1.6rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10000;
}

.live-tab-holder.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -8rem;
}

.live-tab-button a {
    display: inline-block;
    width: 7.5rem;
    height: 1.6rem;
    box-sizing: content-box;
    border-bottom: 1px solid #e8e8e8;
    line-height: 1.6rem;
    font-size: 0.65rem;
    color: #9fa6aa;
}

.live-tab-button i {
    font-size: 0.65rem;
}

.live-tab-button a.current {
    color: #3595e7;
    border-bottom-color: #3595e7;
}

.live-stream {
    width: 15rem;
    margin: 0 auto;
    border-left: 2px solid #dbdbdb;
    padding-left: 0.5rem;
    margin-bottom: 1.6rem;
    position: relative;
}

.stream-date {
    margin-bottom: 1.6rem;
}

.stream-date header {
    height: 0.9rem;
    line-height: 0.9rem;
}

.stream-date header h5 {
    float: left;
    padding: 0 0.3rem;
    background-color: #eee;
    font-size: 0.5rem;
    color: #6c7275;
}

.stream-item-time {
    line-height: 1.2rem;
    font-size: 0.6rem;
    font-weight: bold;
    color: #3595e7;
}

.stream-item-publisher {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 0.5rem;
    color: #939698;
}

.stream-item-publisher img {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 3px solid #e7e7e7;
    display: inline-block;
    vertical-align: top;
}

.stream-item-publisher i {
    color: #3595e7;
    font-style: normal;
}

.stream-item-text {
    line-height: 0.9rem;
    font-size: 0.6rem;
    margin-top: 0.1rem;
}

.stream-item-photo {
    margin-top: 0.4rem;
    overflow: hidden;
    width: 14.5rem;
}

.stream-item-photo img {
    display: block;
}

.stream-item-photo .photo-holder {
    margin: 0 0.5rem 0.5rem 0;
    overflow: hidden;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.photo-type-1 {
    width: 15rem;
}

.photo-type-1 .photo-holder {
    width: 14.5rem;
}

.photo-type-1 img {
    width: 14.5rem;
}

.stream-item-location {
    line-height: 0.8rem;
    color: #bababa;
    font-size: 0.55rem;
}

.stream-item-location i {
    font-size: 0.6rem;
}

.stream-item {
    margin-bottom: 0.7rem;
    position: relative;
}

.stream-item::before {
    content: "";
    position: absolute;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    border: 0.1rem solid #3595e7;
    background-color: white;
    left: -0.77rem;
    top: 0.35rem;
}

.photo-type-2 {
    width: 15rem;
}

.photo-type-2 img {
    max-width: 7rem;
    /*max-height: 5.25rem;*/
}

.photo-type-2 .photo-holder {
    float: left;
    width: 7rem;
    height: 5.25rem;
    margin-right: 0.5rem;


}

.photo-type-3 {
    width: 15rem;
}

.photo-type-3 img {
    width: 4.5rem;
    height: 3.375rem;
}

.photo-type-3 .photo-holder {
    float: left;
    width: 4.5rem;
    height: 3.375rem;
    margin: 0 0.5rem 0.5rem 0;
}

.stream-item-top {
    width: 2rem;
    height: 1.7rem;
    background-image: url(http://i1.dd-img.com/assets/image/1494581560-1ef727ab4e347e8e-80w-68h.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 1.2rem;
    right: 0;
}

.stream-item-alter {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0.8rem;
    line-height: 0.8rem;
    color: #aaa;
    text-align: right;
}

.stream-item-alter i {
    font-size: 0.7rem;
}

.chat-room {
    background-color: #e8e8e8;
    padding: 0.5rem;
    height: 10rem;
    overflow: auto;
}

.chat-item-user {
    height: 1.6rem;
}

.chat-item-avatar {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
}

.chat-item-guest .chat-item-avatar {
    float: left;
    margin-right: 0.5rem;
}

.chat-item-owner .chat-item-avatar {
    float: right;
    margin-left: 0.5rem;
}

.chat-item-owner .chat-item-user {
    text-align: right;
}

.chat-item-name {
    height: 1.6rem;
    display: inline-block;
    vertical-align: top;
    line-height: 1.6rem;
    font-size: 0.55rem;
    color: #595959;
}

.chat-item-text {
    overflow: hidden;
    margin-top: 0.5rem;
}

.chat-item-text p {
    float: left;
    font-size: 0.6rem;
    line-height: 0.75rem;
    padding: 0.3rem 0.5rem;
    background-color: white;
    border-radius: 3px;
}

.chat-item-owner .chat-item-text p {
    float: right;
    background-color: #3595e7;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #a0a9af;
    border-radius: 4px;
}

.chat-item {
    margin-bottom: 0.7rem;
}

.chat-textarea {
    width: 100%;
    min-width: 16rem;
    background-color: #fafafa;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e2e2e2;
}

.chat-textarea .wrap {
    padding: 0.5rem;
}

.chat-textarea textarea {
    display: block;
    width: 11.5rem;
    height: 1.4rem;
    display: block;
    padding: 0.3rem 0.5rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
    float: left;
}

.chat-placeholder {
    height: 4rem;
}

.chat-submit {
    float: right;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    background-color: #3595e7;
    color: white;
    font-size: 0.6rem;
    width: 3rem;
}

.live-loading {
    color: #a9a9a9;
    font-size: 0.6rem;
    text-align: center;
    line-height: 2.5rem;
}

.order-button {
    width: 5rem;
    height: 1.2rem;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
    overflow: hidden;
    line-height: 1.2rem;
    text-align: center;
    border: 1px solid #3595e7;
    box-sizing: content-box;
    border-radius: 3px;
    z-index: 100;
}

.order-button a {
    display: inline-block;
    width: 2.5rem;
    height: 1.2rem;
    font-size: 0.55rem;
    color: #3595e7;
}

.order-button a.current {
    background-color: #3595e7;
    color: white;
}

.live-loading img {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: top;
}

.live-loading span {
    display: inline-block;
    height: 2.5rem;
    vertical-align: top;
    margin-left: -0.5rem;
}

.photo-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.photo-type-1 .photo-holder {
    width: 14.5rem;
    height: 10rem;
}

.photo-single {
    width: 14.5rem;
    margin-bottom: 0.5rem;
}

.photo-single img {
    display: block;
    width: 14.5rem;
}
